@page
@using CinemaTicketSystem.Models;
@model CinemaTicketSystem.Pages.Reservations.EditModel
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Employee")))
{
    

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reservation.ReservationId" />
            <div class="form-group">
                <label asp-for="Reservation.UserId" class="control-label"></label>
                <select asp-for="Reservation.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Reservation.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.ProjectionId" class="control-label"></label>
                <select asp-for="Reservation.ProjectionId" class="form-control" asp-items="ViewBag.ProjectionId"></select>
                <span asp-validation-for="Reservation.ProjectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
    </div>
}
else
{
    <h1>You are not allowed to access this page!</h1>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
