@page
@using CinemaTicketSystem.Models;
@inject SignInManager<ApplicationUser> signInManager
@model CinemaTicketSystem.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<table class="table">
   
        <thead>
            <tr>
                <th>
                    <h1>Recently added movies!</h1>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Movie)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                </tr>
            }
        </tbody>
    
    
</table>
